.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button#submit {
  width: 100%;
  padding: 12px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button#submit:hover {
  background-color: #0056b3;
}