.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.form-register-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.button-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.button-submit:hover {
  background-color: #0056b3;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

#error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

#success {
  color: rgb(9, 164, 43);
  font-weight: bold;
  margin-top: 20px;
}